@charset "UTF-8";
/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  color: #2A1A1f;
}

img {
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

a {
  color: #F1BF98;
}

a:hover {
  color: #CBEEF3;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/*  Header  */
.navbar {
  background-color: #2A1A1f;
}

.navbar-brand {
  font-family: "Baumans", serif;
  font-size: 1.5rem;
  margin-left: 0;
}

.navbar .nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif, sans-serif;
  text-transform: uppercase;
}

/*  Hero    */
.hero {
  height: 95vh;
  padding: 2em 0;
  display: flex;
  /*  Styles for background imgs */
  max-width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* El span pone el fondo de color y así 
    puedo tener que el fondo se mantenga en todo
    el texto sin depender de las col */
  /*  box-decoration-break en el span junto con 
        text-align en el title/text hacen que el 
        fondo se pegue al contenido del texto
     */
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero__title {
  margin: .5em 0;
}

.hero__text {
  margin: 1.5em 0;
}

.hero__title, .hero__text {
  color: #fdfdfd;
  font-family: "Playfair Display", serif;
  align-self: start;
  justify-self: center;
  text-align: left;
}

.hero__title span,
.hero__text span {
  background-color: #2A1A1f;
  /*  agregar los dos que brave no soporta 
            box-decoration-break solo
         */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.hero__title span {
  font-size: 3rem;
  padding: 0.10em 0.2em 0.15em 0.2em;
  line-height: 1.3;
}

.hero__text span {
  font-size: 1.5rem;
  padding: 0.25em 0.6em;
  margin-bottom: 3rem;
  line-height: 1.6;
}

@media (min-width: 992px) {
  .hero__text {
    max-width: 45vw;
  }
}

/* Footer  */
.footer {
  background-color: #2A1A1f;
  color: #fdfdfd;
  /* 
    &__content {
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-evenly;
    } */
}

.footer__logo {
  font-family: "Baumans", serif, sans-serif;
  font-size: 1.95rem;
}

.footer__title {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif, sans-serif;
  text-transform: uppercase;
}

.footer__text p {
  margin-bottom: 0;
}

.footer__text,
.footer__text a {
  font-size: 1rem;
}

.footer__icons {
  font-size: 1.5rem;
}

main {
  background-color: #fdfdfd;
}

/* index  */
#index {
  background-image: url(../img/hero_index.jpg);
  background-position: center right;
}

/* que_hacemos */
#que_hacemos {
  background-image: url(../img/hero_que_hacemos.jpg);
}

/* quienes_somos */
#quienes_somos {
  background-image: url(../img/hero_quienes_somos.jpg);
  background-position: center;
}

/* contacto */
#contacto {
  background-image: url(../img/hero_contacto.jpg);
}

/*  Container   */
.container {
  width: 90%;
  max-width: 1250px;
}
/*# sourceMappingURL=main.css.map */