@charset "UTF-8";
/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  color: #2A1A1f;
}

img {
  max-width: 100%;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

a {
  color: #F1BF98;
}

a:hover {
  color: #CBEEF3;
}

.capital-letter {
  -webkit-initial-letter: 3;
  initial-letter: 3;
}

.capital-letter::first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0;
  margin: 0.1em 0.1em 0.1em 0;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/*  Botones */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 2px solid #2A1A1f;
}

.btn__primary {
  background-color: #2A1A1f;
  color: white;
}

.btn__primary:hover, .btn__primary:focus, .btn__primary:active {
  background-color: #CBEEF3;
  color: #2A1A1f;
}

.btn__primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #CBEEF3;
          box-shadow: 0 0 0 0.25rem #CBEEF3;
}

.btn__large {
  padding: .75rem 3rem;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/* Cita */
.cita {
  background-color: #764134;
  padding: 3rem 0;
  overflow: hidden;
}

.cita figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdfdfd;
  max-width: 700px;
  margin: 0 auto;
  /*         &::before {
            content: '"';
            font-family: $font-title;
            font-size: 3rem;
            margin: 0;
        } */
}

.cita figure blockquote {
  position: relative;
  text-align: center;
  font-size: 1.95rem;
  padding: 1rem 0 0.5rem 0;
  max-width: 1300px;
}

.cita figure figcaption {
  font-size: 1rem;
  font-weight: 700;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/*  Hero    */
.hero {
  height: 95vh;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  Styles for background imgs */
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* El span pone el fondo de color y así 
    puedo tener que el fondo se mantenga en todo
    el texto sin depender de las col */
  /*  box-decoration-break en el span junto con 
        text-align en el title/text hacen que el 
        fondo se pegue al contenido del texto
     */
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__title {
  margin: .5em 0;
}

.hero__text {
  margin: 1.5em 0;
}

.hero__title, .hero__text {
  color: #fdfdfd;
  font-family: "Playfair Display", serif;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: left;
}

.hero__title span,
.hero__text span {
  background-color: #2A1A1f;
  /*  agregar los dos que brave no soporta 
            box-decoration-break solo
         */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.hero__title span {
  font-size: 3rem;
  padding: 0.10em 0.2em 0.15em 0.2em;
  line-height: 1.3;
}

.hero__text span {
  font-size: 1.25rem;
  padding: 0.25em 0.6em;
  margin-bottom: 3rem;
  line-height: 1.6;
}

@media (min-width: 992px) {
  .hero__text {
    max-width: 45vw;
  }
}

/* index  */
#index {
  background-image: url(../img/hero_index.jpg);
  background-position: center right;
}

/* que_hacemos */
#que_hacemos {
  background-image: url(../img/hero_que_hacemos.jpg);
}

/* quienes_somos */
#quienes_somos {
  background-image: url(../img/hero_quienes_somos.jpg);
  background-position: center;
}

/* contacto */
#contacto {
  background-image: url(../img/hero_contacto.jpg);
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/*  Sombras de imágenes */
.image--shadow {
  box-shadow: 25px 25px 0px 0px #F1BF98;
  -webkit-box-shadow: 25px 25px 0px 0px #F1BF98;
  -moz-box-shadow: 25px 25px 0px 0px #F1BF98;
}

.image__overlap {
  max-height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4] 0.2fr;
      grid-template-columns: repeat(4, 1fr) 0.2fr;
  -ms-grid-rows: (1fr)[5] 0.2fr;
      grid-template-rows: repeat(5, 1fr) 0.2fr;
}

.image__overlap--top {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
}

.image__overlap--bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 /span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.image-row__image {
  width: 100%;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
.map {
  margin-bottom: -.6rem;
}

/*  Container   */
.container {
  width: 90%;
  max-width: 1250px;
}

.section-space {
  margin: 1.2em 0;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/* Footer  */
.footer {
  background-color: #2A1A1f;
  color: #fdfdfd;
  /* 
    &__content {
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-evenly;
    } */
}

.footer__logo {
  font-family: "Baumans", serif, sans-serif;
  font-size: 1.95rem;
  letter-spacing: 0.1rem;
}

.footer__title {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer__text p {
  margin-bottom: 0;
}

.footer__text,
.footer__text a {
  font-size: 1rem;
}

.footer__icons {
  font-size: 1.5rem;
}

main {
  background-color: #fdfdfd;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
.form-control:focus {
  border-color: #CBEEF3;
  -webkit-box-shadow: 0 0 0 0.25rem #CBEEF3;
          box-shadow: 0 0 0 0.25rem #CBEEF3;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/* Grid con colores que_hacemos.html*/
.grid-card {
  padding: 1rem 1.5rem;
}

.grid-card--small {
  padding: 1.8rem;
}

.grid-card--primary-light {
  background-color: #F1BF98;
}

.grid-card--primary {
  background-color: #764134;
  color: #fdfdfd;
}

.grid-card--secondary {
  background-color: #CBEEF3;
}

.grid-card__title {
  text-align: center;
  padding: 0.75rem 0 1.5rem 0;
  font-size: 2.44rem;
}

.grid-card__image {
  padding: 0;
}

.grid-image {
  height: 100%;
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

.grid-list {
  line-height: 2;
}

/*  
    Por default $initial-size es el tamaño para mobile 
    A los 576px pasa a ser $base-size para todo el sitio
 */
/*  Header  */
.navbar {
  background-color: #2A1A1f;
}

.navbar-brand {
  font-family: "Baumans", serif;
  font-size: 1.5rem;
  margin-left: 0;
  letter-spacing: 0.1rem;
}

.navbar .nav-link {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*  Agrega margin a los nav-links en desktop */
@media (min-width: 996px) {
  .nav-item {
    margin-left: 1.2rem !important;
  }
}

.navbar-dark,
.navbar-brand,
.navbar-nav,
.nav-link {
  color: #F1BF98 !important;
}

.navbar-dark:hover, .navbar-dark:focus,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav:hover,
.navbar-nav:focus,
.nav-link:hover,
.nav-link:focus {
  color: #CBEEF3 !important;
}

.active {
  font-weight: 700;
  color: #fdfdfd !important;
}

.navbar-dark,
.navbar-toggler {
  color: #F1BF98;
}

.navbar-dark:hover, .navbar-dark:focus,
.navbar-toggler:hover,
.navbar-toggler:focus {
  color: #F1BF98;
}
/*# sourceMappingURL=main.css.map */