@import "variables";

@mixin title-link {
    font-size: $size5;
    font-family: $font-text, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/*  Header  */
.navbar {
    background-color: $black;

    &-brand {
        font-family: $font-logo;
        font-size: $size4;
        margin-left: 0;
        letter-spacing: 0.1rem;
    }

    .nav-link {
        @include title-link();
    }
}

/*  Agrega margin a los nav-links en desktop */
@media(min-width: 996px) {
    .nav-item {
        margin-left: 1.2rem !important;
    }
}

// Override color a los nav-links
.navbar-dark, 
.navbar-brand,
.navbar-nav,
.nav-link {
    color: $primary--light !important;

    &:hover,
    &:focus {
        color: $secondary !important;
    }
}

// Override color del navbar-toggler
.navbar-dark, 
.navbar-toggler {
    color: $primary--light;

    &:hover,
    &:focus {
        color: $primary--light;
    }
}

/*  Hero    */
.hero {
    height: 95vh;
    padding: 2em 0;
    display: flex;
    /*  Styles for background imgs */
    max-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__title {
        margin: .5em 0;
    }

    &__text {
        margin: 1.5em 0;
    }

    &__title,
    &__text {
        color: $white;
        font-family: $font-title;        
        align-self: start;
        justify-self: center;
        text-align: left;
    }

    /* El span pone el fondo de color y así 
    puedo tener que el fondo se mantenga en todo
    el texto sin depender de las col */

    &__title span,
    &__text span {
        background-color: $black;        
        /*  agregar los dos que brave no soporta 
            box-decoration-break solo
         */
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

    /*  box-decoration-break en el span junto con 
        text-align en el title/text hacen que el 
        fondo se pegue al contenido del texto
     */

    &__title span {
        font-size: $size1;   
        padding: 0.10em 0.2em 0.15em 0.2em;
        line-height: 1.3;
    }

    &__text span {
        font-size: $size5;
        padding: 0.25em 0.6em;
        margin-bottom: 3rem;
        line-height: 1.6;
    }
}

@media (min-width: 992px) {
    .hero__text {
        max-width: 45vw;
    }
}

/* Footer  */
.footer {
    background-color: $black;
    color: $white;


    &__logo {
        font-family: $font-logo, sans-serif;
        font-size: $size3;
        letter-spacing: 0.1rem;
    }

    &__title {
        @include title-link();
    }

    &__text p {
        margin-bottom: 0;
    }

    &__text,
    &__text a {
        font-size: $size6;
    }

    &__icons {
        font-size: $size4;
    }
    
/* 
    &__content {
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-evenly;
    } */
}

main {
    background-color: $white;
}

/* Cita */
.cita {
    background-color: $primary;
    padding: 3rem 0;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        max-width: 700px;
        margin: 0 auto;

        &::before {
            content: '"';
            font-family: $font-title;
            font-size: 3rem;
            margin: 0;
        }

        blockquote {
            text-align: center;
            font-size: $size2;
        }

        figcaption {
            font-size: $size6;
            font-weight: 700;
        }
    }
}

/*  Sombras de imágenes */
.image {
    &--shadow {
        box-shadow: 25px 25px 0px 0px $primary--light;
        -webkit-box-shadow: 25px 25px 0px 0px $primary--light;
        -moz-box-shadow: 25px 25px 0px 0px $primary--light;
    }

    &__overlap {
        max-height: 700px;
        display: grid;
        grid-template-columns: repeat(4, 1fr) 0.2fr;
        grid-template-rows:  repeat(5, 1fr) 0.2fr ;

        &--top {
            grid-column: 2 / span 3;
            grid-row: 3 / span 3;
        }

        &--bottom {
            grid-column: 1 /span 3;
            grid-row: 1 / span 3;
        }
    }
}

/*  Botones */
.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 2px solid $black;

    &__primary {
        background-color: $black;
        color: white;

        &:hover,
        &:focus, 
        &:active {
            background-color: $secondary;
            color: $black;
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem $secondary;
        }
    }

    &__large {
        padding: .75rem 3rem;
    }
}

// Map
.map {
    margin-bottom: -.6rem;
}

// Image row en que_hacemos
.image-row {

    &__image {
        width: 100%;
    }
}

// Reset color inputs formuarios
.form-control:focus {
    border-color: $secondary;
    box-shadow: 0 0 0 0.25rem $secondary;
}