/* index  */ 
#index {
    background-image: url(../img/hero_index.jpg);
    background-position: center right;
}

/* que_hacemos */
#que_hacemos {
    background-image: url(../img/hero_que_hacemos.jpg);
}

/* quienes_somos */
#quienes_somos {
    background-image: url(../img/hero_quienes_somos.jpg);
    background-position: right;
}

/* contacto */
#contacto {
    background-image: url(../img/hero_contacto.jpg);
}