// Cuadrado con información de contacto

.cuadrado {
    background-color: $black;
    color: $white;
    padding: 1rem;
    line-height: 1.1;

    &__texto {
        font-size: $size6;
    }

    &__title {
        font-family: $font-text;
        text-transform: uppercase;
        font-size: $size5;
    }
}

.contacto-grid {
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr) 0.5fr 0.25fr;
    grid-template-rows: repeat(5, 0.5fr);
    background-image: url(../img/pasta_ajo.jpg);
    @include background-image;

    .image {
        grid-column: 1 / 6;
        grid-row: 1 /6;
        z-index: 1;
    }

    .cuadrado {
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
        z-index: 5;
    }
}

@media (min-width: 600px) {
    .contacto-grid {
        display: grid;
        grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
        grid-template-rows: repeat(3, 1fr);
    
        .cuadrado  {
            grid-column: 3 / 6;
            grid-row: 2;
            z-index: 5;
        }
    } 
}
