// Cuadrado con información de contacto

.cuadrado {
    background-color: $black;
    color: $white;
    padding: 1rem;
    line-height: 1.1;

    &__texto {
        font-size: $size6;
    }

    &__title {
        font-family: $font-text;
        text-transform: uppercase;
        font-size: $size5;
    }
}

.contacto-grid,
.contacto-form {
    margin-bottom: 3rem;
}

.contacto-grid {
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr) repeat(4, 0.5fr);
    grid-template-rows: repeat(5, 0.5fr);
    background-image: url(../img/pasta_ajo.jpg);
    @include background-image;
    max-width: none;

    .cuadrado {
        grid-column: 2 / 7;
        grid-row: 3 / span 2;
        z-index: 5;
    }
}

@media (min-width: 600px) {
    .contacto-grid {
        display: grid;
        grid-template-columns: 0.25fr repeat(4, 1fr) 0.5fr;
        grid-template-rows: repeat(3, 1fr);
    
        .cuadrado  {
            grid-column: 2 / 6;
            grid-row: 2;
            z-index: 5;
        }
    } 
}

label {
    text-transform: uppercase;
}

.contacto-main {
    margin: 1rem 0;
}