@import '../abstract/variables';

/* Cita */
.cita {
    background-color: $primary;
    padding: 3rem 0;
    overflow: hidden;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        max-width: 700px;
        margin: 0 auto;

/*         &::before {
            content: '"';
            font-family: $font-title;
            font-size: 3rem;
            margin: 0;
        } */

        blockquote {
            position: relative;
            text-align: center;
            font-size: $size3;
            padding: 1rem 0 0.5rem 0;
            max-width: 1300px;

            p {
                font-style: italic;
                font-weight: 500;
            }
        }

        figcaption {
            font-size: $size6;
            font-weight: 700;
        }
    }
}

