// Mixin para formato links de header y footer

@mixin title-link {
    font-size: $size5;
    font-family: $font-text, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

// Mixin para formato de las comillas de la cita
@mixin format-quote {
    position: absolute;
    font-family: $font-title;
    font-size: 7rem;
    color: $primary--light;
}